@model Project.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />

    @*<title>Pizza Boy</title>*@
    <div class="row">
      
         <div class="col-md-2" style="margin-left:100px">
        
        
  <div class="col-md-3" >
      <br /><br />
      <h1 style="font-size:xx-large">Details</h1>
      <div class="form-group">
          <br />
          @*<!--!form method="post" action="/User/index1"!-->*@
              @using(Html.BeginForm("Index1","User",FormMethod.Post))
              {

<br /><br />        <table>
    <tr>
                <td>
                    <h5>Name</h5>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new {placeholder="Name"})
                    @Html.ValidationMessageFor(x=>x.Name)
                    <!--input type="text" name="Name" class="form-control" placeholder="Name" /!--></td>
            </tr>
            <tr>
                <td>
                    <h5>UserName</h5>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName, new {id="UserName" ,placeholder="User Name" })
                    @Html.ValidationMessageFor(x=>x.UserName)
                    <!--input type="text" name="UserName" id="UserName" class="form-control" placeholder="User Name" /!--></td>
                <td>
                    <input type="button" id="b1" value="Check" />
                </td>
                <td>
                <div id="result"> </div>
               </td>

                @Scripts.Render("~/bundles/jquery")

                <script>

                    $(document).ready(function () {

                        //$('#checking').hide();

                        $('#b1').click(function () {

                            var UserName = $('#UserName').val();
                            //alert('User Name =' + UserName);

                           // $('#checking').show();
                            $.getJSON("/Home/CheckUserName?UserName=" + UserName, function (data) {
                               // $('#checking').hide();
                                if (data) 
                                    $('#result').text("User already exists");
                                else 
                                    $('#result').text("User Name is available");
                            });

                        });

                    });
        </script>
                    
 
            
            <tr>
                <td>
                    <h5>Password</h5>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Password, new {placeholder="Password",type="password"})
                    @Html.ValidationMessageFor(x=>x.Password)
                    <!--input type="password" name="Password" class="form-control" placeholder="Password" /!--></td>
            </tr>
            <tr>
                <td>
                    <h5>Re-type Password</h5>
                </td>
                <td>
                    
                    <input type="password" name="rpassword" class="form-control" placeholder=" Retype Password" /></td>
            </tr>
            <tr>
                <td>
                    <h5>Age</h5>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Age, new {placeholder="Age" })
                    @Html.ValidationMessageFor(x=>x.Age)
                    <!--input type="text" name="Age" class="form-control" placeholder="Age" /!--></td>
            </tr>
            <tr>
                <td>
                    <h5>Address</h5>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Address, new {placeholder="Address" })
                    @Html.ValidationMessageFor(x=>x.Address)
                    <!--input type="text" name="Address" class="form-control" placeholder="Address" /!--></td>
            </tr>
            
            <tr>
                <td>
                    <h5>@Html.LabelFor(m => m.Type)</h5>
                </td>
                <td>
                    
                    <select name="Type" class="form-control">
                    <option>Admin</option><option>Customer</option></select></td>
            </tr>
             <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </td>
                </tr>
        </table>
              }
          </div>
    </div>
    
  </div>
        
      <div>
        
          </div> 
    </div>
    <div class="alert alert-danger">Every Block is necessary to be filled</div>

    